BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 4
IndentCaseLabels: true

TabWidth: 4
UseTab: Never
ColumnLimit: 88
BreakBeforeBraces: Allman
AlignAfterOpenBracket: BlockIndent
BreakFunctionDeclarationParameters: true
BreakFunctionDefinitionParameters: true
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Right
SortIncludes: true
IncludeBlocks: Regroup
