BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 2

TabWidth: 2
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Right
SortIncludes: true
IncludeBlocks: Regroup
